.sidebarOptions{
    display: flex;
    flex-direction: column;

}
.sidebarOptions .sidebarOption{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;

}
.sidebarOption:hover{
    background-color: lightgray;
    border-radius: 5px;
    
}
.sidebarOption img{
    height: 30px;
    margin-left: 20px;
    border-radius: 5px;
    width: 30px;
}
.sidebarOption p{
    margin-left: 10px;
    color: gray;
    font-weight: 400;
}
.sidebarOption .MuiSvgIcon-root{
    color: rgb(86, 82, 82);
    font-size: medium;
    margin-left: 20px;
    background-color: rgb(167, 166, 166);
    border-radius: 5px;
}